<%- include('../partials/header') %>

<h1>Enter Ticket Details</h1>
<section id="badge-container">
  <% tickets.forEach(function(p) { %>
    <article class="badge"><%= p.name %></article>
  <% }) %>
</section>

<form id="add-ticket-form" action="/flights/<%= flight %>/tickets" method="POST">
  <label>Seat No:</label><br>
  <input type="text" name="seat"></br>
  <label>Price:</label><br>
  <input type="number" name="price"></br>
  <input type="submit" value="Add Ticket"><br>
</form>

<%- include('../partials/footer') %>